
<div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">

		<a class="navbar-brand pull-left" href="#"><span><img
				style="max-width: 45px; margin-top: -6px;"
				src="resources/img/logo-black-01.png"></span>CODEZERO </a>
	</div>
	<div>
		<form class="navbar-form pull-left">
			<label><input type="checkbox" value=""
				style="margin-left: 5px"> Online/offline</label> <label><input
				type="checkbox" value="" style="margin-left: 5px"> Selector
				Pop-up</label> <label><input type="checkbox" value=""
				style="margin-left: 5px"> Element Pop-up</label> <input type="url"
				placeholder="url ex: http://www.axisbank.com/" class="form-control"
				style="width: 400px; margin-left: 10px" ng-model="urlName" required>

			<button id="myButton" type="button" style="margin-left: 5px"
				class="btn btn-primary" ng-disabled="!urlName"
				ng-click="getURL(urlName)">Go</button>

			<input type="text" placeholder="cache_item_id" class="form-control"
				style="width: 200px; margin-left: 10px"> <input type="text"
				placeholder="db_name ex:sdbcab02" class="form-control"
				style="width: 200px;">
		</form>
		<div class="btn-group btn-toggle"
			style="margin-left: 15px; margin-top: 10px">
			<button class="btn btn-xs btn-default">ON</button>
			<button class="btn btn-xs btn-primary active">OFF</button>
			<label style="margin-left: 5px">Scrapping mode</label>		
		</div>
		<button type="button" style="margin-left: 150px;margin-top: 5px " class="btn btn-danger">Logout</button>
	</div>

</div>

<div class="row fill">
	<div class="col-md-2 nopadding ">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="">
					Projects
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#myModal">New</button>
					<button type="button" class="btn btn-success">Save page</button>
				</h3>
			</div>
			<div class="panel-body" style="height: 730px"></div>
		</div>
	</div>
	<div class="col-md-8 nopadding">
		<div class="panel panel-default">
			<div class="panel-body" style="height: 810px">
				<iframe frameborder="0" style="width: 100%; height: 100%;"
					ng-src="{{currentUrl}}"></iframe>

			</div>
		</div>
	</div>
	<div class="col-md-2 nopadding">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="">Agent View</h3>
			</div>
			<div class="panel-body" style="height: 730px">

				<ul class="nav nav-pills nopadding">
					<li class="active"><a data-toggle="pill" href="#menu1">Java</a></li>
					<li><a data-toggle="pill" href="#menu2">JSON</a></li>
				</ul>

				<div class="tab-content">
					<div id="menu1" class="tab-pane fade in active">
						<p>
							<code> public class Demo { public static void
								main(String[] args){ System.out.println("Hello codezero !!"); }

								} </code>
						</p>
					</div>
					<div id="menu2" class="tab-pane fade">
						<code> { "data" : "Hello codezero !!" } </code>
					</div>
				</div>
			</div>
		</div>

	</div>


	<!-- new project pop up -->

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">New Project</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label> Project Name</label> <input type="text"
								class="form-control" id="usrname" placeholder="Project Name">
						</div>
						<button type="submit"
							class="btn btn-default btn-primary btn-block">Create
							Project</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
			$('.btn-toggle').click(function() {
				$(this).find('.btn').toggleClass('active');  

				if ($(this).find('.btn-primary').size()>0) {
					$(this).find('.btn').toggleClass('btn-primary');
				}
				if ($(this).find('.btn-danger').size()>0) {
					$(this).find('.btn').toggleClass('btn-danger');
				}
				if ($(this).find('.btn-success').size()>0) {
					$(this).find('.btn').toggleClass('btn-success');
				}
				if ($(this).find('.btn-info').size()>0) {
					$(this).find('.btn').toggleClass('btn-info');
				}

				$(this).find('.btn').toggleClass('btn-default');

			});
		</script>